<h1 style="margin: 20px 0px 0px 40px;">ผู้ใช้งาน</h1>
<mat-card style="margin: 20px 40px 40px 40px;">
  <mat-card-title>
    <button mat-raised-button color="primary" (click)="Add()">
      <mat-icon mat-list-icon>add</mat-icon> เพิ่ม
    </button>
  </mat-card-title>

  <mat-divider></mat-divider>
  <mat-card-content class="dashboard-card=content">
    <mat-form-field appearance="standard">
      <mat-label>ค้นหา</mat-label>
      <input matInput (keyup)="Filter($event)" placeholder="" #input>
    </mat-form-field>
    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Position Column -->
        <ng-container matColumnDef="FullName">
          <th mat-header-cell *matHeaderCellDef> ชื่อผู้ใช้งาน </th>
          <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
        </ng-container>
        <ng-container matColumnDef="Email">
          <th mat-header-cell *matHeaderCellDef> E-mail </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
        <ng-container matColumnDef="RoleName">
          <th mat-header-cell *matHeaderCellDef> บทบาท </th>
          <td mat-cell *matCellDef="let element"> {{element.roleName}} </td>
        </ng-container>
        <ng-container matColumnDef="isActive">
          <th mat-header-cell *matHeaderCellDef> สถานะ </th>
          <td mat-cell *matCellDef="let element"> {{element.isActive == 1 ? 'ใช้งาน' : 'ไม่ใช้งาน'}} </td>
        </ng-container>
        <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef style="width: 80px;"> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="Update(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="Delete(element)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
